div {
    padding: 1rem;
    width: 200px;
    margin-bottom: 1rem;
    text-align: center;
}

.gray {
    background-color: gray;
    color: white;
}

.green {
    background-color: green;
    color: white;
}